:root {
    --azul: #2A7AE4;
    --gris-claro: #F5F5F5;
    --azul-claro: #EAF2FD;
    --fuente: 'Raleway', sans-serif;
    --gris-fuerte: #464646;
    --gris: #a2a2a2;
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.2;
    font-family: var(--fuente);
}

h1,
h2,
h3 {
    font-weight: 900;
    margin: 2rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.btn-login {
    background-color: #fff;
    border: 1px solid var(--azul);
    padding: 1rem 3rem;
    color: var(--azul);
    transition: background-color .5s ease-in-out;
}

.btn-login:hover {
    background-color: var(--azul);
    cursor: pointer;
    color: white;
}

.btn-azul {
    background-color: var(--azul);
    color: #fff;
    padding: 1.5rem;
    border: none;
    transition: background-color .3s ease-in-out;
    max-width: 18rem;
}

.btn-azul:hover {
    background-color: #0252bc;
    cursor: pointer;
}



/* HEADER */
.header {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

.header_logo {
    max-width: 100%;
    width: 90%;
    min-width: 5rem;
    margin-right: 2rem;
}

@media (min-width: 768px) {
    .header_logo {
        width: 20rem;
    }
}

.header_barra {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 768px) {
    .header_barra {
        flex-direction: row;
    }
}

.header_barra-buscador {
    background-color: var(--gris-claro);
    display: inline;
    border: none;
    outline: none;
    padding: 1rem;
    max-width: 20rem;
    width: 100%;
}

.no-visible {
    display: none;
}

@media (min-width: 768px) {
    .header_barra-buscador {
        background-color: var(--gris-claro);
        display: inline;
        border: none;
        outline: none;
        padding: 1rem 2rem;
    }
}

.header_barra-buscar {
    display: flex;
    align-items: center;
    gap: .5rem;
}

@media (min-width: 768px) {
    .header_barra-buscar {
        justify-content: space-between;
        background-color: var(--gris-claro);
        border-radius: 4rem;
        overflow: hidden;
        width: 35rem;
    }
}

.icon {
    width: 2.5rem;
    margin-left: 1rem;
    stroke: black;
}

@media (min-width: 768px) {
    .icon {
        stroke: var(--gris);
        margin-right: 1rem;
    }
}

.icon:hover {
    cursor: pointer;
}


/* HERO */
.hero {
    background-image: url(/img/Hero.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    max-height: 100%;
    height: 500px;
    position: relative;
}

.sombra-hero {
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    background-color: rgb(0 0 0 / 45%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
}

@media (min-width: 768px) {
    .sombra-hero {
        background-color: rgb(0 0 0 / 10%);
    }
}

.hero_contenido-texto {
    color: white;
}

.hero_titulo {
    font-size: 3.8rem;
}

.hero_parrafo {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

/* PRODUCTOS */
.contenedor-productos {
    padding: 5rem 0;
    background-color: var(--gris-claro);
}

.productos_listado {
    margin-bottom: 5rem;
}

.productos_listado-barra {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .productos_listado-barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


/* .productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    grid-auto-flow: row;
} */

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 1rem;
    row-gap: 3rem;
}

.producto div {
    max-width: 100%;
    width: 25rem;
}

.producto_img {
    height: 25rem;
    width: 25rem;
}

.producto_precio {
    font-weight: bold;
    color: var(--gris-fuerte);
    font-size: 2rem;
    margin: 1rem 0;
}

.producto_enlace {
    color: var(--azul);
}

.producto_enlace:hover {
    border-bottom: 1px solid var(--azul);
    cursor: pointer;
}

.resultado-busqueda {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .resultado-busqueda {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

/* INFERIOR */
.bg-azul {
    background-color: var(--azul-claro);
    padding: 3rem 0 1.5rem 0;
}

@media (min-width: 768px) {
    .inferior {
        display: flex;
        justify-content: space-between;
    }
}

.inferior_logo {
    width: 15rem;
    margin-bottom: 3rem;
}

.inferior_navegacion {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1024px) {
    .inferior_navegacion {
        flex-direction: row;
        text-align: left;
        gap: 10rem;
    }
}

.navegacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}


.navegacion-enlace {
    color: var(--gris-fuerte);
    font-weight: 700;
    cursor: pointer;
}


/* FORMULARIO */
@media (min-width: 1024px) {
    .formulario {
        max-width: 100%;
        width: 45rem;
    }
}

.formulario_titulo {
    color: var(--gris-fuerte);
    font-size: 2rem;
}

.contenedor_input {
    font-weight: var(--font-weigth-input);
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input {
    box-sizing: border-box;
    padding: 2.5rem 1rem;
    font-size: 1.8rem;
    height: 3.25rem;
    width: 100%;
    border: none;
    border-radius: .5rem;
}

.input::placeholder {
    visibility: hidden;
    color: var(--gris-fuerte);
}

.input:focus {
    outline: none;
}

.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: var(--font-size-input-label);
    transition: all 0.25s;
}

.input:not(:placeholder-shown)+.input-label,
.input:focus+.input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.textarea {
    outline: none;
    border: none;
    border-radius: .5rem;
    width: 100%;
    min-height: 10rem;
    margin-bottom: 1rem;
}

.textarea::placeholder {
    color: var(--gris-fuerte);
}


/* FOOTER */
.footer {
    padding: 1.5rem 0;
    text-align: center;
    background-color: #fff;
}

.footer-heading {
    color: var(--gris-fuerte);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.eliminar {
    display: inline-block;
    border: none;
    background-color: rgb(254, 96, 96);
    color: white;
    padding: .5rem;
    font-weight: bold;
    margin-left: 3rem;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}

.eliminar:hover {
    background-color: red;
    cursor: pointer;
}

.esconder {
    display: none;
}